@import "tailwindcss";
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.6s ease-out forwards;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans/fonnts.com-Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,body{
    background-color: rgb(17, 24, 39);
    font-family: "Mona Sans", sans-serif;
}
